body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(16, 15, 15);
  }

  h1 {
    text-align: center;
    margin-top: 100px;
    color:  rgb(114, 167, 180);
  }

  form {
    max-width: 500px;
    margin: auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color:  rgb(114, 167, 180);
  }

  input, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: rgb(114, 167, 180);
    color: rgb(18, 16, 16);
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color:black;
    color:  rgb(114, 167, 180);;
  }

  #response, #audio-preview {
    margin-top: 20px;
    text-align: center;
    font-family: 'Courier New', monospace;
  }

  #response {
    color:  rgb(114, 167, 180);;
  }

  #response.error {
    color: red;
  }

  audio {
    margin-top: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    border-color: rgb(114, 167, 180); 
    margin-top: 10px;
    width: 380px;
    margin-left: 530px;
}